

<div class="banner">
    <div id="new-cocktail">
      <p><%= link_to 'Add a Cocktail', new_cocktail_path %></p>
    </div>
  <div class="container">
    <h1><strong>Boozy Town</strong></h1>
    <br>
    <p>Classics, unique concoctions made with rare spirits, trendy creations all in one place.<br>Created, maintained and reviewed by users.</p>
  </div>
</div>

<div class="container cocktails">
  <div id="h2">
    <h2>Cocktails</h2>
  </div>

  <br>

  <div class="cards-cocktails">
   <% @cocktails.each do |cocktail| %>
   <div class="card-cocktail" style="background-image: url('<%= cl_image_path cocktail.photo.attached? ? cocktail.photo.key : "vu4i3rnhbtglqit2rjnh" %>');">
    <h3><%= link_to cocktail.name.capitalize, cocktail_path(cocktail) %></h3>
  </div>
  <% end %>
</div>

</div>

<br>


