<h1>Cocktails</h1>
<br>

<ul>
 <% @cocktails.each do |cocktail| %>
  <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
<% end %>
</ul>
<br>


<%= link_to 'Create a New Cocktail', new_cocktail_path %>

