 <div class="container">
 <div id="all-cocktails">
    <p><%= link_to 'All Cocktails', cocktails_path %></p>
  </div>
<br>
<div>
<div class="new-cocktail">
<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
<br>
  <%= f.submit class: 'btn create-btn' %>
<% end %>
</div>
</div>
</div>
