// position set to relative to style button on top as absolute
.container{
  position: relative;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url(https://images.unsplash.com/photo-1497990902153-c6d041aad676?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  filter: grayscale(100%);
  border-radius: 5px;

  h1 {
    margin: 0;
    color: $chinese_silver;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    font-size: 32px;
    font-weight: bold;
  }

  span {
    font-size: 23px;
    color: $chinese_silver;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
  }
}

// Add cocktail button
#new-cocktail{
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid $chinese_silver;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  p{
    margin: 0px;
  }

  a{
    text-decoration: none;
    color: $chinese_silver;
  }

  &:hover {
    color: $bright_gray;
  }
}
