.footer {
  background: $black;
  align-items: center;
  justify-content: space-between;
  // height: 70px;
  padding: 20px 50px;
  color: $spanish_gray;
  font-weight: lighter;
}

.footer .fa-heart {
  color: $spanish_gray;
}

.footer-copyright{
  text-align: center;
}
