.main{
  margin-top: 55px;
  padding-top: 20px;
}

th, td, .form-control-file, .form-header, .fa-trash{
  color: $spanish_gray;
}

.cocktail-info{
  height: 400px;
}

#reviews{
  display: flex;
  margin-bottom: 100px;
}

.review, .recipe, .cocktail-info, .recipe-dose, .main{
  margin-bottom: 40px;
}

.new-cocktail{
  margin-top: 30px;
  margin-bottom: 30px;
}

.recipe-dose{
  display: flex;
}

.review{
  padding-top: 10px;
}
